@{
    ViewBag.Title = "Demo MovieLibrary";
}

<div id="library-demo">
    <div class="title">
        Movie Library: <span class="title">Mell Brooks Movies</span> 
    
    </div>
    <div class="movies">
        <div class='movie row-fluid'>
            <div class="name span6">Blazing Saddles</div>
            <div class="release-date span6">1972</div>
        </div>
        <div class='movie row-fluid'>
            <div class="name span6">Young Frankenstain</div>
            <div class="release-date span6">1972</div>
        </div>
        <div class='movie row-fluid'>
            <div class="name span6">Spaceballs</div>
            <div class="release-date span6">1972</div>
        </div>
    </div>

</div>
