@{
    ViewBag.Title = "Demo MovieLibrary";
}

<div id="library-demo">
    <div class="title">
        Movie Library: <span class="title">Mell Brooks Movies</span> 
    </div>
    
    <div class="alert alert-danger visible-desktop">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> Get ready to learn some SASS & Bootstrap!
    </div>

    <div class="alert alert-success visible-tablet">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Yay!</strong> You are using a tablet!
    </div>

    <div class="alert alert-warning visible-phone">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>OMG!</strong> You are using a phone!
    </div>

    <div class="filter">
        <button>New</button>
        <button>Old</button>
        <button>Older</button>
    </div>
    
    <div class="btn-group">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
        By year
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">2010</a></li>
        <li><a href="#">2009</a></li>
        <li><a href="#">2008</a></li>
      </ul>
    </div>

    <div class="movies">
        <div class='movie'>
            <div class="name">Blazing Saddles</div>
            <div class="release-date">1972</div>
        </div>
        <div class='movie'>
            <div class="name">Young Frankenstain</div>
            <div class="release-date">1972</div>
        </div>
        <div class='movie'>
            <div class="name">Spaceballs</div>
            <div class="release-date">1972</div>
        </div>
    </div>

    <ul class="movie-info nav nav-tabs">
        <li class="active">
            <a href="#tab-directors" data-toggle="tab">Directors</a>
        </li>
        <li><a href="#tab2" data-toggle="tab">Actors</a></li>
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane active" id="tab-directors">
            <a href="#" data-toggle="tooltip" title="Awesome director">Mel Brooks</a>
        </div>
        <div class="tab-pane" id="tab2">
            <pre>

            Cleavon Little	... 	Bart

            Gene Wilder	... 	Jim

            Slim Pickens	... 	Taggart

            Harvey Korman	... 	Hedley Lamarr

            Madeline Kahn	... 	Lili Von Shtupp

            Mel Brooks	... 	Governor William J. Lepetomane / Indian Chief
            Burton Gilliam	... 	Lyle

            Alex Karras	... 	Mongo

            David Huddleston	... 	Olson Johnson
            Liam Dunn	... 	Rev. Johnson

            John Hillerman	... 	Howard Johnson

            George Furth	... 	Van Johnson

            Jack Starrett	... 	Gabby Johnson (as Claude Ennis Starrett Jr.)

            Carol Arthur	... 	Harriett Johnson
            Richard Collier	... 	Dr. Sam Johnson
            Charles McGregor	... 	Charlie

            Robyn Hilton	... 	Miss Stein
            Don Megowan	... 	Gum Chewer

            Dom DeLuise	... 	Buddy Bizarre
            </pre>
        </div>
    </div>


</div>
