@{
    ViewBag.Title = "Demo MovieLibrary";
}

@section Scripts {
    <script type="text/javascript" src="/Scripts/ViewModels/MovieLibraryViewModel.js"></script>

    <script type="text/javascript">
        $(function () {
            ko.applyBindings(new DemoKoCoffee.MovieLibraryViewModel('Mel Brooks Movies'));
        });
    </script>

}

<div id="library-demo">
    <div class="title">
        Movie Library: 
        <div class="viewing" data-bind="visible: !editingTitle()">
            <span class="title" data-bind='text: title'></span> 
            <i class="icon-edit" data-bind='click: editTitle'></i>
        </div>
        <div class="editing" data-bind="visible: editingTitle">
            <input type='text' data-bind='value: newTitle' />
            <i class="icon-ok-sign" data-bind='click: saveEditing' ></i>
            <i class="icon-ban-circle" data-bind='click: cancelEditing' ></i>
        </div>
    </div>
    
    <div class="your-movies" data-bind='visible: !newMovieVM.active()'>
        So far you have 
        <span class="count" data-bind='text: count'></span>
        movies
        <button data-bind='click: newMovie'> Add more </button>
    </div>

    <div class="new-movie" data-bind='visible: newMovieVM.active(), with: newMovieVM'>
        <div class="label">Title:</div> 
        <input type='text' data-bind='value: title' />
        <div class="label">Release Date:</div> 
        <input type='text' data-bind='value: relDate' />
        <i class="icon-ok-sign" data-bind='click: save'></i>
        <i class="icon-ban-circle" data-bind='click: cancel'></i>
    </div>
 
    <div class="movies" data-bind="foreach: movies">
        <div class="movie">
            <div class="name" data-bind="text: title"></div>
            <div class="release-date" data-bind="text: releaseDate"></div>
        </div>
    </div>
</div>


